.grid-table {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    border-bottom: 1px solid #aaaaaa;
}

.grid-table-header{
    font-weight: 700;
    background-color: #dddddd;
}

.grid-cell {
    padding: 2px 5px;
}