.grid-table {
  display: block;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.grid-row {
  display: block;
  border-bottom: 1px solid #aaaaaa;
  position: absolute;
  left: 0;
  top: 0;
}

.grid-head {
  font-weight: 700;
  background-color: #dddddd;
}

.grid-body {
  display: block;
  position: relative;
}

.grid-cell {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  border-left: 1px solid #ddd;
  line-height: 30px;

  &:last-child {
    border-right: 1px solid #ddd;
  }
}
